@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

:root {
	--color-blue: #3c5b9a;
	--color-lightblue: #166fe5;
	--color-background: #f5f5f5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	position: relative;
}

.flex-3 {
	flex: 3;
}
.flex-1 {
	flex: 1;
}

.filter {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	place-content: center;
}
.filter > div {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
}

.filter-post {
	height: 38%;
	width: 50%;
	background-color: var(--color-background);
	margin-top: 17%;
	display: flex;
	flex-direction: column;
	place-content: center;
}
.filter-MY-posts {
	height: 70%;
	width: 50%;
	background-color: var(--color-background);
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	overflow-y: auto;
}
.filter-MY-posts-title {
	margin-bottom: 4rem;
}
.filter-post-title {
	margin-left: 1.5rem;
}
.MY-posts-header {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin-top: 1rem;
	margin-left: 1rem;
	font-weight: 500;
	font-size: 22px;
}
.MY-posts-header > .left {
	display: flex;
}

.filter-post-footer {
	display: flex;
	place-content: flex-end;
	margin-right: 2rem;
}

.find-friends {
	height: 60%;
	width: 50%;
	background-color: var(--color-background);
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}
.find-friends > .ff-header {
	margin-top: 2rem;
}

.ff-header {
	display: flex;
	justify-content: space-between;
	width: 90%;
}
.ff-header > i:hover {
	cursor: pointer;
}

.container-find {
	margin: 2rem 4rem;
}

.container-menu {
	position: sticky;
	top: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-blue);
}
.container-menu > div {
	margin: 1rem 0;
}
.container-content {
	display: flex;
	flex-direction: column;
	background-color: var(--color-background);
	padding: 4rem;
}

.container-logo {
	display: flex;
	justify-content: center;
	width: 15rem;
	height: 3.5rem;
}
.container-logo > img {
	position: relative;
	object-fit: cover;
	width: 100%;
}

.container-profile {
	display: flex;
	justify-content: flex-start;
	width: 80%;
	margin-top: 1rem;
}

.profile-picture {
	display: flex;
	place-content: center;
	width: 80px;
	aspect-ratio: 1;
	border-radius: 25px;
	overflow: hidden;
}
.profile-picture > img {
	object-fit: cover;
	width: 100%;
}
.profile-name {
	display: flex;
	align-items: center;
	color: white;
	margin-left: 1rem;
}

.container-action {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.container-notification {
	display: flex;
	flex-direction: column;
	width: 90%;
}

.container-notification > p {
	margin-top: 1rem;
	margin-left: 1rem;
	font-weight: 500;
	color: white;
}
.notification {
	border-radius: 25px;
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0;

	background-color: var(--color-background);
	overflow-y: auto;
}

.notification-item {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 1rem;
}

.action-left {
	display: flex;
	justify-content: flex-start;
}
.action-right {
	display: flex;
}

.notification-item > * {
	margin: 0.5rem;
}

.not-profile-picture {
	display: flex;
	place-content: center;
	width: 35px;
	aspect-ratio: 1;
	border-radius: 5px;
	overflow: hidden;
}

.not-profile-picture > img {
	object-fit: cover;
	width: 100%;
}
.not-profile-name {
	display: flex;
	align-items: center;
	color: black;
	margin-left: 1rem;
}

.action {
	display: flex;
}
.action > * {
	margin: 0.5rem;
}

.content-header {
	margin: 1rem;
	display: flex;
	justify-content: space-between;
}

.content {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.post-content {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100px;
}

.post {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
	width: 100%;
	border-radius: 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 1rem 0;
}

.post-header {
	display: flex;
	justify-content: flex-start;
	width: 90%;
	margin-top: 1rem;
	margin-left: 1rem;
	font-weight: 500;
	font-size: 22px;
}

.post-profile-picture {
	display: flex;
	place-content: center;
	width: 40px;
	aspect-ratio: 1;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 0.5rem;
}
.post-profile-picture > img {
	object-fit: cover;
	width: 100%;
}
.post-profile-name {
	display: flex;
	align-items: center;
	margin-left: 0.5rem;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 90%;
	height: 100px;
	padding: 12px auto;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: transparent;
	font-size: 16px;
	resize: none;
	margin-top: 0.7rem;
}

.post-footer {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 1rem auto;
}

.btn {
	font-size: 0.95rem;
	font-weight: 600;
	width: 122px;
	height: 40px;
	border-radius: 50px;
	border: none;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.logout {
	width: 90%;
	margin-top: 1rem;
	background: #f44a4a;
}
.logout:hover {
	cursor: pointer;
	background-color: red;
}

.find {
	width: 90%;
	margin-top: 1rem;
	background: rgba(255, 255, 255, 0.66);
}
.find:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.274);
}

.create-post {
	background: #3bd68b;
	color: #f1f1f1;
}
.create-post:hover {
	cursor: pointer;
	background-color: #089b54d0;
}

.check-post {
	background: var(--color-blue);
	color: #f1f1f1;
}
.check-post:hover {
	cursor: pointer;
	background-color: #04369bef;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@media (max-width: 900px) {
	.container-content {
		padding: 2rem 0;
	}
}
